* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Montserrat:wght@100&display=swap');


.body {
    background: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card-buy {
    background: hsl(0, 0%, 100%);
    width: 540px; 
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row; 

}

.card-buy img {
   width: 50%;
   height: 100%;  
   object-fit: cover;
  
}

.card-img-mobile img {
    display: none;
 }

.card-buy-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0.6rem 1.8rem;    
}

.card-buy-info h6 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    font-size: 11px;
    
}

.card-buy-info h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;       
}

.card-buy-info p {
    font-size: 13.5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
    line-height: 22px;  
}

.card-buy-price {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    

}

.card-buy-price span {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 30px;
}

.card-buy-price p {
    text-decoration: line-through;
}

.card-buy-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-buy-btns button {
    width: 100%;
    height: 42.5px;
    border-radius: 6px;
    border: none;
    background: hsl(158, 36%, 37%);
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    display: block;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.card-buy-btns button:hover {
    background:  hsl(158, 36%, 22%);
    cursor: pointer;
}

@media (max-width: 480px) {
    .card-buy {
        width: 300px; 
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
    }
    .card-buy img {
        display: none;
       
     }
    
    .card-img-mobile img {
        display: inline-block;
        width: 100%;

     }

    .card-buy-info h6 {

        font-size: 9px;
        
    }

    .card-buy-info {
        gap: 14px;
    }

    .card-buy-info h1 {

        font-size: 28px;
        line-height: 28px;       
    }

    .card-buy-price span {
        font-size: 24px;
    }

    .card-buy-info p {
        font-size: 12px;
        text-align: left;

    }

    .card-buy-btns button {
        margin: 0 0 6px;
    }
}